/* Deafault-start */
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
}
.full-web{
    font-family: 'Work Sans', sans-serif;
}

/* Default-end */

/* Menu-start */
.div1{
    background-color: #101446;
    padding-top: 14px;
    padding-bottom: 9px;
}


/* Logo-start */
.img-1{
    height: 42px;
    width: 70px;
    display: inline-block;
}

.logo{
    display: inline-block;
    width: 40%;
    text-align: center;
}


/* Logo End */


/* Inner-menu-start */

.menu{
    width: 60%;
    float: right;
    position: relative;
    right: 177px;
    top: 6px;
}

.ul-1 li{
    display: inline-block;
}

.ul-1{
    text-align: right;
}

.ul-1 li a{
    color: #fff;
    padding: 9px;
}
/* Inner-menu-end */


/* Menu-end */

/* Banner-start */

.div2{
    background: url(https://i.postimg.cc/nzKKbpf7/intro-bg.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-bottom: 484px;
}

.h-1{
    position: relative;
    top: 254px;
    font-size: 18px;
}

.p-1{
    font-size: 11px;
    position: relative;
    top: 278px;
}

.a-2-1{
    color: #fff;
    background: #337AB7;
    position: relative;
    top: 303px;
    padding: 10px;
    border-radius: 6px;
}

.a-2-1:hover{
    color: #fff;
}

/* Banner-end */


/* Team-start */

.div3{
    background-color: #BAC1F3;
    padding-top: 1px;
    padding-bottom: 79px;
}

.h-2-1{
    text-align: center;
    margin-top: 167px;
}

.jese{
    text-align: center;
    width: 33%;
    margin-top: 89px;
    display: inline-block;
}

.a-3-1{
    background: #337AB7;
    padding: 5px;
    border-radius: 5px;
}

.a-3-1:hover{
    color: #fff;
}

.h{
    
    display: inline-block;
}

.harry{
    text-align: center;
    position: relative;
    margin-top: 89px;
    display: inline-block;
    left: 70px;
}

.a-3-2{
    background: #337AB7;
    padding: 5px;
    border-radius: 5px;
}

.a-3-2:hover{
    color: #fff;
}


.i{
    display: inline-block;
    text-align: right;
}

.rock{
    text-align: center;
    position: relative;
    margin-top: 80px;
    display: inline-block;
    left: 206px;
}

.a-3-3{
    background: #337AB7;
    padding: 5px;
    border-radius: 5px;
}

.a-3-3:hover{
    color: #fff;
}

/* Team end */


/* About-start */
.img-3-1{
    display: inline-block;
    position: relative;
    bottom: 73px;
    height: 114px;
    top: -46px;
}

.p-3-1{
    display: inline-block;
    margin-left: 66px;
    line-height: 25px;
    position: relative;
    bottom: 21px;
    color: #4E4E4E;
}

.h-3-1{
    text-align: center;
    margin-top: 122px;
    margin-bottom: 62px;
    padding-top: 93px;
}

.div4{
    background: #C2D4EA;
    position: relative;
    bottom: 122px;
    padding-bottom: 75px;
}

.left{
    font-size: 13px;
    position: relative;
    left: 62px;
    display: inline-block;
}

.p-3-2{
    position: relative;
    top: -29px;
}

.inner-right {
    font-size: 13px;
    display: inline-block;
}

.right{
    display: inline-block;
    position: relative;
    left: 92px;
}

/* About-end */


/* Map-start */

.div5{
    background: #F5F5F5;
    padding-top: 148px;
    position: relative;
    bottom: 122px;
    padding-bottom: ;
}

.h-5-1{
    text-align: center;
    position: relative;
    bottom: 68px;
}

.img-4{
    display: inline-block;
    position: relative;
    bottom: 42px;
}

.img-4-1{
    height: 434px;
    width: 424px;
    position: relative;
    top: -60px;
    left: 89px;
}

.form{
    display: inline-block;
    position: relative;
    left: 145px;
}

.input-1,.input-2,.input-3,{
    width: 500px;
    height: 30px;
}

textarea{
    height: 100px;
    width: 500px;
}

.input-4{
    background: #5BC0DE;
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: #fff;
}

/* Map-end */

/* Footer-start */

.h-10{
    display: inline-block;
}

.p-10{
    display: inline-block;
}

.div6{
    text-align: center;
    font-size: 13px;
    line-height: 1px;
    background: #0062D3;
    padding-top: 20px;
    padding-bottom: 25px;
    color: #fff;
    position: relative;
    bottom: 122px;
}

/* Footer-end */